
<ul class="list-group mb-3">
    <a href="/dashboard/articles" class="list-group-item list-group-item-action">
        <li class="d-flex justify-content-between align-items-center">
            <span><i class="fas fa-clipboard"></i> Articles</span>
        </li>
    </a>
    <a href="/dashboard/categories" class="list-group-item list-group-item-action">
        <li class="d-flex justify-content-between align-items-center">
            <span><i class="fas fa-tags"></i> Catégories</span>
        </li>
    </a>
    <a href="/dashboard/utilisateurs" class="list-group-item list-group-item-action">
        <li class="d-flex justify-content-between align-items-center">
            <span><i class="fas fa-user-friends"></i> Utilisateurs</span>
        </li>
    </a>
    <a href="/dashboard/commentaires" class="list-group-item list-group-item-action">
        <li class="d-flex justify-content-between align-items-center">
            <span><i class="fas fa-comment-alt"></i> Commentaires</span>
        </li>
    </a>
</ul>





