<div class="container">
    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>Bonjour,</h2>
            <hr>
            <p>
                Je m'appelle <b>Bastien</b>. Je suis freelance <b>Graphiste Print</b> & <b> Ui designer</b> depuis 7 ans
                et je vis en région parisienne. À travers ce blog je souhaite partager mon nouveau défi, <b>devenir
                    développeur d’applications web (FullStack).</b>
            </p>
            <a class="btn btn-outline-dark mb-1" href="#"><i class="fab fa-github"></i> Dépôt Github</a>
            <a class="btn btn-outline-dark mb-1" href="#"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
            <a class="btn btn-outline-dark mb-1" href="#"><i class="fab fa-instagram"></i> Instagram</a>
        </div>
        <div class="col-md-4 mb-5">
            <h2>Contactez moi</h2>
            <hr>
            <address>
                <strong>LECHATGRAPHIQUE</strong>
                <br>1 Rue de Mora,
                <br>Enghien-les-Bains, 95880
                <br>
            </address>
            <address>
                <abbr title="Phone"><i class="fas fa-phone"></i></abbr>
                (+33) 6 64 83 28 68
                <br>
                <abbr title="Email"><i class="fas fa-envelope"></i></abbr>
                <a href="mailto:#" class="text-dark">hello@lechatgraphique.fr</a>
            </address>
        </div>
    </div>
</div>