<header class="bg-light pt-5 pb-5 ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 order-2 order-md-12">
                <h1 class="display-4 font-weight-bold mt-5 mb-2">Je suis là,</h1>
                <p class="lead mb-5">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at consequuntur deleniti dignissimos dolor eius facilis harum hic iure laudantium molestias odio quae quaerat quo rem sapiente sint ullam, voluptates?
                    <br><br>
                    <span class="text-theme-primary">Je ne partage jamais votre e-mail avec quelqu'un d'autre.</span>
                    <br><br>
                    <a class="btn btn-outline-light text-theme-primary mb-1" href="https://github.com/lechatgraphique"><i class="fab fa-github"></i> Dépôt Github</a>
                    <a class="btn btn-outline-light text-theme-primary mb-1" href="https://www.linkedin.com/in/bastien-clement"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
                    <a class="btn btn-outline-light text-theme-primary mb-1" href="https://www.instagram.com/bc_lechatgraphique"><i class="fas fa-hashtag"></i> Instagram</a>
                </p>
            </div>
            <div class="col-md-6 col-sm-12 order-1 order-md-12 ">
                <img src="https://themes.3rdwavemedia.com/coderpro/bs4/assets/images/promo-figure-alt.svg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</header>