<form class="" action="#" method="POST">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <fieldset>
                <div class="form-group">
                    <label for="lastName">Nom</label>
                    <input type="text" id="lastName" name="last_name" class="form-control" required>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-12 col-md-6">
            <fieldset>
                <div class="form-group">
                    <label for="fistName">Prénom</label>
                    <input type="text" id="firstName" name="first_name" class="form-control" required>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <fieldset>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <fieldset>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-12 col-md-6">
            <fieldset>
                <div class="form-group">
                    <label for="password2">Mot de passe</label>
                    <input type="password" id="password2" name="password2" class="form-control" required>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 mt-3">
            <button type="submit" class="btn btn-primary btn-lg btn-block">S'inscrire</button>
        </div>
    </div>
</form>