{% extends 'layouts/default.twig' %}

{% block title %}
    <title>Blog PHP : {{ post.title }}</title>
{% endblock %}

{% block content %}

   {% include 'frontend/post/header.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-fluid rounded img-full" src="/uploads/images/{{ post.image }}" alt="">
                <hr>
                <p class="lead">{{ post.content }}</p>
                <hr>
            </div>
        </div>
    </div>

    {% include 'frontend/post/comment/form.twig' %}

    {% include 'frontend/post/comment/index.twig' %}

{% endblock %}
