{% extends 'backend/layouts/default.twig' %}

{% block title %}
    <title>Blog PHP : Liste des utilisateurs</title>
{% endblock %}


{% block content %}
    <div class="container mt-5 pt-5">
        <h4 class="mb-3">Gestion des utilisateurs</h4>
        {% include 'backend/layouts/alert.twig' %}
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-end mb-3">
                    <a class="btn btn-primary" href="/dashboard/utilisateurs/form-create" role="button">Ajouter un utilisateur</a>
                </div>
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col">Utilisateur</th>
                        <th scope="col">Rôle</th>
                        <th scope="col" class="text-right">Statut</th>
                        <th scope="col" class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.userName }}</td>
                            <td>
                                <span class="badge badge-light">{{ user.role }}</span>
                            </td>
                            <td class="text-right text-secondary">
                                {% if user.disabled == 1 %}
                                <i class="fas fa-eye"></i>
                                {% else %}
                                <i class="fas fa-eye-slash"></i>
                                {% endif %}
                            </td>
                            <td class="text-right">
                                <a class="btn-link text-secondary" href="/dashboard/utilisateurs/{{ user.id }}" role="button"><i class="fas fa-pen"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-end mb-3">
                    {{ pagination | raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}