{% extends 'backend/layouts/default.twig' %}

{% block title %}
    <title>Blog PHP : Gestion des catégories</title>
{% endblock %}

{% block content %}
    <div class="container pt-5">
        <h4 class="mt-5 mb-3">Gestion des catégories</h4>
        {% include 'backend/layouts/alert.twig' %}
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-end mb-3">
                    <a class="btn btn-primary" href="/dashboard/categories/form-create" role="button">Ajouter une catégorie</a>
                </div>
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col" class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.title }}</td>
                            <td class="text-right">
                                <a class="btn-link text-secondary" href="/dashboard/categories/{{ category.slug }}-{{ category.id }}" role="button"><i class="fas fa-pen"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-end mb-3">
                    {{ pagination | raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}